<footer class="footer">
	<div class="row">
		<p>WIAD2015 is een worldwide initiative but brought to you you in Belgium by <a href="http://namahn.com/" title="Namahn">Namahn</a>, <a href="http://www.thesedays.com/" title="Nascom">These days</a>, <a href="http://www.nascom.be/" title="Nascom">Nascom</a> en <a href="http://wijs.be/nl" title="Wijs">Wijs</a>. Questions or willing to be a sponsor? <a href="mailto:info@informatiearchitectuur.be">Contact us</a>.</p>
	</div>
	<div class="row">
		<a href="http://getchopstick.com/" title="Made with Chopstick" class="chopstick">Made with Chopstick</a>
	</div>
</footer>
