<header class="header">
	<div class="row">
		{% if page.section contains "home" %}
			<p class="logo">{{ site.title }}</br><span class="logo__date">World IA day: 21-02-2015</span></p>
		{% else %}
			<a href="{{ site.url }}/" class="logo">{{ site.title }}</br><span class="logo__date">World IA day: 21-02-2015</span></a>
		{% endif %}

		<nav class="main-nav">
			<ul>
			 {% if page.section contains "home" %}
				{% else %}
				<li {% if page.url contains "index" %}class="selected"{% endif %}><a href="{{ site.url }}/index.html">Home</a></li>
				{% endif %} 
				<li {% if page.url contains "register" %}class="selected"{% endif %}><a href="{{ site.url }}/register.html">Register</a></li>

				<!--	<li {% if page.url contains "program" %}class="selected"{% endif %}><a href="{{ site.url }}/program.html">Programma</a></li>
				<li {% if page.url contains "praktisch" %}class="selected"{% endif %}><a href="{{ site.url }}/praktisch.html">Praktisch</a></li>
				<li {% if page.url contains "register" %}class="selected"{% endif %}><a href="{{ site.url }}/register.html">Inschrijven</a></li>
				<li {% if page.url contains "blog" %}class="selected"{% endif %}><a href="{{ site.url }}/blog.html">Blog</a></li>-->
			</ul>
		</nav>
	</div>
</header>
