<header class="header">
	<div class="row">
		{% if page.section contains "home" %}
			<p class="logo">{{ site.title }}</p>
		{% else %}
			<a href="{{ site.url }}/" class="logo">{{ site.title }}</a>
		{% endif %}

		<nav class="main-nav">
			<ul>
				<!-- {% if page.section contains "home" %}
				{% else %}
				<li {% if page.url contains "index" %}class="selected"{% endif %}><a href="{{ site.url }}/index.html">Home</a></li>
				{% endif %} -->
				<li {% if page.url contains "blog" %}class="selected"{% endif %}><a href="{{ site.url }}/blog.html">Kennis</a></li>
				<li {% if page.url contains "program" %}class="selected"{% endif %}><a href="{{ site.url }}/program.html">Programma</a></li>
				<li {% if page.url contains "register" %}class="selected"{% endif %}><a href="{{ site.url }}/register.html">Inschrijven</a></li>
			</ul>
		</nav>
	</div>
</header>
