//
// Frame
//

.row {
	@extend %clearfix;
	position: relative;
	@include px-padding-lr(1);
}

//
// Header
//

.header {
	@include em-padding-tb(4,3.5);

	background-color: $white-color;
	position: relative;
}

.logo,
a.logo {
	@include reset;


	float: left;
	display: block;

	@include px-padding-lr(9,0);

	font-family: $beta-font-family;
	font-size: 17px;
	line-height: 21px;
	padding-top: 5px;
	font-style: italic;
	color: $alpha-text-color;

	width: 195px;
	height: 50px;

	background-image: url('../img/logo.png');
	background-repeat: no-repeat;

	.svg & {
		background-image: url('../img/logo.svg');
	}
}

a.logo:hover,
a.logo:focus {
	text-decoration: none;
	color: $alpha-ui-color;
}

.main-nav {
	@include reset;

	float: left;
	width: 100%;

	@include em-padding-tb(3, 0);

	@include mq($bp3) {
		float: right;
		width: auto;

		@include em-padding-tb(0);
	}

	ul {
		@include reset;
		@extend %clearfix;
		@include list-nav;
		@include text-dimensions(16,1,0);
		font-family: $beta-font-family;
		border-top: 1px dotted lighten($grey-color,30);

		@include mq($bp3) {
			@include horizontal-nav;
			border-top: none;
		}
	}

	li {
		@include em-padding-tb(2,0);

		@include mq($bp3) {
			@include em-padding-tb(1);
			@include px-margin-lr(2,1);
		}
	}

	a {
		color: $alpha-ui-color;
		text-decoration: none;
		font-weight: 500;
		border-bottom: 1px solid lighten($alpha-ui-color,30);

		&:hover {
			color: lighten($alpha-ui-color,10);
			border-bottom: 1px solid lighten($alpha-ui-color,40);
		}
	}

	.selected a {
		color: $alpha-text-color;
		border-bottom: none;
	}
}

//
// Footer
//

.footer {
	background-color: $alpha-ui-color;
	color: $white-color;
	@include em-padding-tb(4, 3.5);

	text-align: center;

	p {
		padding-bottom: 0;
	}

	a,
	a:visited {
		color: lighten($alpha-ui-color,40);
		border-bottom: 1px solid lighten($alpha-ui-color,10);
	}

	a:hover,
	a:focus {
		color: $white-color;
		border-bottom: 1px solid lighten($alpha-ui-color,30);
		text-decoration: none;
	}
}
